/* admin-dashboard.component.scss */

.wrapper {
  display: flex;
  background-color: #f2f2ff;
}

.sidebar {
  height: 100vh;
  min-width: 350px;
  padding: 20px;
  background: 
    linear-gradient(#c7c7c7, #02387e);
  background-size: contain;
  background-blend-mode: multiply;
}

.sidebar ul {
  list-style: none;
}

.sidebar .nav-link {
  padding: 1rem;
  color: #fff;
  text-decoration: none;
}
.sidebar .nav-link:hover {
  background-color: #fff;
  border-radius: 0.7rem;
  border: 2px solid #d9d9d9;
  color: #000000;
}

.sidebar .nav-link.active {
  background-color: #fff;
  border-radius: 0.7rem;
  border: 2px solid #d9d9d9;
  color: #000000;
}

#content {
  flex-grow: 1;
  transition: all 0.3s ease;
  overflow: hidden;
}

#sidebarCollapse {
  border: none;
  background: none;
  outline: none;
}

.main-content {
  height: calc(100vh - 110px);
  overflow-y: auto;
}

@media (max-width: 768px) {
  #sidebar {
    min-width: 0;
    width: 100%;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    transition: all 0.3s ease;
    z-index: 9999;
  }

  #content {
    margin-left: 0;
    transition: all 0.3s ease;
  }

  .navbar-toggler-icon {
    background-color: #333;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-color: transparent;
  }
}

.nav {
  cursor: pointer;
}
