<!-- <div class="background-image-container">
    <div class="card-container flex justify-center p-10">

        <div
            class="mt-10 p-3 w-full max-w-lg bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
            <form class="space-y-6">
                <img src="../../../../assets/relevo-logo.svg" alt="kvlogo">
                <div>
                    <h5 class="text-3xl font-bold text-gray-900 ">Login to your
                        account</h5>
                </div>
                <div>
                    <div>
                        <label for="input-group-1" class="block mb-2 text-lg font-bold text-gray-900">
                            Email Address</label>
                        <div class="relative mb-6">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 20 16">
                                    <path
                                        d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                                    <path
                                        d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
                                </svg>
                            </div>
                            <input type="text" id="input-group-1"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  "
                                Dashboard="name@flowbite.com">
                        </div>
                    </div>
                    <label for="password" class="block mb-2 text-lg font-bold text-gray-900">
                        Password</label>
                    <div class="relative mb-6">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4 text-gray-500">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                            </svg>
                        </div>
                        <input type="password" name="password" id="password" Dashboard="••••••••"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5"
                            required>
                    </div>
                    <div class="flex items-start mt-3">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="remember" type="checkbox" value=""
                                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 "
                                    required>
                            </div>
                            <label for="remember" style="text-decoration: none;"
                                class="ml-2 text-sm font-medium text-gray-900">Remember Me</label>
                        </div>
                        <a href="#" class="ml-auto text-sm text-dark-900 font-bold" routerLink="/forgot-password">Forgot
                            Password?</a>
                    </div>
                    <button type="submit"
                        class="mt-3 w-full text-white bg-[#E93223] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        routerLink="/dashboard">Login</button>
                    <div class="mt-5 text-center font-medium text-gray-500">
                        Don't have an account? <a href="#" class="text-[#E93223] font-bold hover:underline">Sign up
                            here</a>
                    </div>
                </div>
            </form>
        </div>



    </div>
</div> -->

<div class="background-image-container">
    <div class="card-container flex justify-center p-3">
        <div class="py-3 w-full max-w-lg bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8">
            <form class="space-y-6 p-3">
                <img src="../../../../assets/relevo-logo.svg" alt="kvlogo">
                <div>
                    <h5 class="text-3xl font-bold text-gray-900 ">Login to your
                        account</h5>
                </div>
                <div>
                    <div>
                        <label for="username" class="block mb-2 text-lg font-bold text-gray-900">
                            Email Address</label>
                        <div class="relative mb-2">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 20 16">
                                    <path
                                        d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                                    <path
                                        d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
                                </svg>
                            </div>
                            <input type="email" id="email" name="email" [(ngModel)]="email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  "
                                placeholder="name@flowbite.com" required>
                        </div>
                        <!-- Display validation errors if the username control is invalid -->
                        <!-- <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched"
                            class="text-red-500 text-sm">Email Address is required.</div> -->
                    </div>

                    <div class="mt-3">
                        <label for="password" class="block mb-2 text-lg font-bold text-gray-900">
                            Password</label>
                        <div class="relative mb-2">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                                </svg>
                            </div>
                            <input type="password" id="password" name="password" [(ngModel)]="password"
                            placeholder="••••••••"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5"
                                required>
                        </div>
                        <!-- Display validation errors if the password control is invalid -->
                        <!-- <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
                            class="text-red-500 text-sm mt-2">Password is required.</div> -->
                    </div>
                    <div class="flex items-start mt-3">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="remember" type="checkbox" value=""
                                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 "
                                    required>
                            </div>
                            <label for="remember" style="text-decoration: none;"
                                class="ml-2 text-sm font-medium text-gray-900">Remember Me</label>
                        </div>
                        <a class="ml-auto text-sm text-dark-900 font-bold" routerLink="/forgot-password">Forgot
                            Password?</a>
                    </div>
                    <div class="mt-3">
                        <button type="button" class="btn-color btn btn-primary w-100" (click)="login()">Login</button>
                    </div>
                    <!-- mt-3 w-full text-white bg-[#E93223] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center -->
                </div>
                <div class="row px-3">
                    <div class="card google-card border border-gray-200 rounded-lg shadow" (click)="signInWithGoogle()">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25"
                                        viewBox="0 0 48 48">
                                        <path fill="#FFC107"
                                            d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z">
                                        </path>
                                        <path fill="#FF3D00"
                                            d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z">
                                        </path>
                                        <path fill="#4CAF50"
                                            d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z">
                                        </path>
                                        <path fill="#1976D2"
                                            d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z">
                                        </path>
                                    </svg>
                                </div>
                                <div>
                                    <p>Sign In with Google Instead</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
            <div class="mt-3 text-center font-medium text-gray-500">
                Don't have an account? <a routerLink="/register" class="text-[#E93223] font-bold hover:underline">Sign
                    up
                    here</a>
            </div>
        </div>
    </div>
</div>