<div *ngIf="loadingService.loading$ | async" class="overlay">
  <!-- Add your loading spinner or loading message here -->
  <mat-spinner diameter="50"></mat-spinner>
</div>
<router-outlet></router-outlet>

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">My Angular App</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav> -->