<div class="mt-4">
  <h1
    class="text-3xl sm:text-5xl font-extrabold tracking-tight leading-tight mb-4 dashboard-home-header"
  >
    Track Your Application.
  </h1>
  <div class="container">
    <p>
      Welcome to Relevo Immigrations' application tracking service. If you've
      already submitted a visa <br />application or passport through Relevo
      Immigrations, you can track its status here. Please note<br />
      that this service provides information on the current location of your
      application/passport, but not <br />
      on the exact stage of the application process.
    </p>
    <br />
    <p>
      Once you've submitted your application/passport at Relevo Immigrations,
      you can track its status <br />using the methods below:
    </p>

    <div class="mt-2">
      <ul>
        <li>
          <br />
          <strong>Online Tracking:</strong>
          <br />
          Click <a style="text-decoration: underline; color: blue; cursor: pointer;" (click)="openModal()">here</a> to enter your Tracking ID number, which you'll
          receive after your documents<br />
          have been verified and you've had your appointment with us.
        </li>
        <br />
        <li>
          <strong>Chat Support:</strong>
          <br />
          Connect with our support team through our help desk for real-time
          assistance and updates on your application.
        </li>
        <br />

        <li>
          <strong>Email Support:</strong>
          <br />
          Reach out to our support team via email for any inquiries or updates
          regarding your application.
        </li>
        <br />

        <li>
          <strong>Helpline:</strong>
          <br />
          For immediate assistance, you can contact our helpline at [phone to be
          provided].
        </li>
        <br />

        <li>
          <strong>In-Person Visit:</strong>
          <br />
          Feel free to visit our office to track your application in person. Our
          staff will be happy to assist you.
        </li>
        <br />

        <li>
          <strong>SMS Updates:</strong>
          <br />
          Opt for our SMS service to receive regular updates on the status of
          your application. Additional charges may apply for this service.
        </li>
      </ul>
    </div>

    <div>
      <p>
        Once your application has been processed by the relevant visa office,
        you'll receive a decision <br />
        along with your passport. If a visa is granted, it will be affixed to
        your passport. If not, you'll receive<br />
        a letter explaining the decision.
      </p>
      <br />
      <p>
        We strive to provide a seamless and transparent application tracking
        experience for all our clients. <br />
        If you have any questions or concerns, don't hesitate to reach out to
        us.
      </p>
      <br />
      <p>
        Thank you for choosing Relevo Immigrations for your visa application
        needs. We look forward to <br />
        assisting you throughout the process.
      </p>
    </div>
  </div>
</div>
