.dashboard-home-header {
  display: inline-block;
  position: relative;
  text-align: center;
  padding-bottom: 15px;
}

.dashboard-home-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 73%;
  transform: translateX(-50%);
  width: 50%; /* Adjust this value to control the length of the border */
  height: 8px;
  border-radius: 50px;
  background-color: orange;
}
